<div class="g-pa-20">
    <div class="media">
        <div class="d-flex align-self-center">
            <h1 class="g-font-weight-300 g-font-size-28 g-color-black mb-0">References Values</h1>
        </div>

        <div class="media-body align-self-center text-right">
            <a class="btn btn-md u-btn-teal g-width-160--md g-font-size-default g-ml-10" href="/references-values/create">
                Create
            </a>
        </div>
    </div>

    <hr class="d-flex g-brd-gray-light-v7 g-my-30">

    <table class="table w-100 g-mb-25">

        {% set columns = ['Reference Name', 'Value'] %}
        {% if values.0.r_type == 'ref' %}
            {% set columns = columns|merge(['Ref Value']) %}
        {% endif %}
        {% set columns = columns|merge(['Visible', 'Deleted']) %}

        {% include '/App/Views/Components/Table/thead.twig' with {
            'columns': columns,
            'total': params.pager.total
        } %}

        <tbody class="g-font-size-default g-color-black" id="accordion-09" role="tablist" aria-multiselectable="true">
            {% for value in data.models %}
                {{ include ('/App/Views/ReferencesValues/list_item.twig', {value: value}) }}
            {% endfor %}
        </tbody>
    </table>

    {% include '/App/Views/Components/pager.twig' with {'pager': params.pager, 'uri': params.uri} %}

</div>



