NAME=
DOMAIN=
PORT=

APP_CHARSET=utf-8
APP_TIME_ZONE="Europe/Moscow"

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
DB_URI=
DB_CONNECTION_TIMEOUT=
DB_TABLE_PREFIX=rb_

MAILGUN_API_KEY=
MAILGUN_PUB_VALIDATION_KEY=
MAILGUN_API_BASE_URL=
MAILGUN_DOMAIN=
MAILGUN_NAME_FROM=