<div class="g-pa-20">
    <div class="media">
        <div class="d-flex align-self-center">
            <h1 class="g-font-weight-300 g-font-size-28 g-color-black mb-0">Images Galleries</h1>
        </div>

        <div class="media-body align-self-center text-right">
            <a class="btn btn-md u-btn-teal g-width-160--md g-font-size-default g-ml-10" href="/images-galleries/create">
                Create
            </a>
        </div>
    </div>

    <hr class="d-flex g-brd-gray-light-v7 g-my-30">

    <table class="table w-100 g-mb-25">
        {% include '/App/Views/Components/Table/thead.twig' with {
            'columns': ['Gallery', 'Image', 'Is Main', 'Priority'],
            'total': params.pager.total
        } %}

        <tbody class="g-font-size-default g-color-black" id="accordion-09" role="tablist" aria-multiselectable="true">
            {% for image_gallery in data.models %}
                {{ include ('/App/Views/ImagesGalleries/list_item.twig', {image_gallery: image_gallery}) }}
            {% endfor %}
        </tbody>
    </table>

    {% include '/App/Views/Components/pager.twig' with {'pager': params.pager, 'uri': params.uri} %}

</div>



