<td class="g-font-size-default g-color-black g-valign-middle g-brd-top-none g-brd-bottom g-brd-2 g-brd-gray-light-v4">
    {% if value|length > 0 %}
        <a class="btn btn-xs u-btn-outline-bluegray" href="{{ href }}">
            {{ value }}
        </a>
    {% endif %}
</td>