<div class="g-pa-20">
    <div class="row">
        {{ include ('/App/Views/Users/sidebar.twig', {user:data.model}) }}

        <div class="col-md-9">
            <div class="h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md">
                <form class="js-validate" novalidate="novalidate" method="post" action="/users/change-password">

                    <header>
                        <h2 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">
                            Change password
                        </h2>
                    </header>

                    <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">

                    {% include '/App/Views/Components/Inputs/text.twig' with {
                        'id': 'current_password',
                        'model': 'user',
                        'value': params.request.current_password,
                        'error': data.errors.current_password|length > 0 ? data.errors.current_password : 0,
                        'type': 'password'
                    } %}

                    {% include '/App/Views/Components/Inputs/text.twig' with {
                        'id': 'new_password',
                        'model': 'user',
                        'value': params.request.new_password,
                        'error': data.errors.new_password|length > 0 ? data.errors.new_password : 0,
                        'type': 'password'
                    } %}

                    {% include '/App/Views/Components/Inputs/text.twig' with {
                        'id': 'repeat_password',
                        'model': 'user',
                        'value': params.request.repeat_password,
                        'error': data.errors.repeat_password|length > 0 ? data.errors.repeat_password : 0,
                        'type': 'password'
                    } %}


                    <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">

                    <div>
                        <button class="btn btn-md btn-xl--md u-btn-secondary g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10"
                                type="submit">Save Changes
                        </button>
                        <button class="btn btn-md btn-xl--md u-btn-outline-gray-dark-v6 g-font-size-12 g-font-size-default--md g-mr-10 g-mb-10"
                                type="reset">Cancel
                        </button>
                        <button class="btn btn-md btn-xl--md u-btn-outline-gray-dark-v6 g-font-size-12 g-font-size-default--md g-mr-10 g-mb-10"
                                type="reset">Forgot Your Password?
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>