<div class="form-group">
    <div class="jFiler">
        <input class="js-file-attachment" data-gallery="{{ gallery_id }}" type="file" name="images[]" multiple="multiple"
               style="position: absolute; left: -9999px; top: -9999px; z-index: -9999;">
    </div>
</div>