<div class="g-pa-20">
    <div class="row">

        <div class="col-md-6">
            <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md">
                <form class="js-validate" novalidate="novalidate" name="gallery">
                    <header>
                        <h2 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">
                            <a href="/galleries" class="btn btn-xs u-btn-outline-teal g-mr-10">
                                <span class="">
                                    <i class="hs-admin-angle-left"></i>
                                </span>
                            </a>
                            Gallery #{{ data.model.gallery_id }}
                        </h2>
                    </header>

                    <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">

                    {% include '/App/Views/Components/Inputs/text.twig' with {
                        'id': 'name',
                        'model': 'gallery',
                        'value': data.model.name,
                        'disabled': 1
                    } %}

                    {% include '/App/Views/Components/Inputs/text.twig' with {
                        'id': 'slug',
                        'model': 'gallery',
                        'value': data.model.slug,
                        'disabled': 1
                    } %}

                    {% include '/App/Views/Components/Inputs/text.twig' with {
                        'id': 'type',
                        'model': 'gallery',
                        'value': data.model.type,
                        'disabled': 1
                    } %}

                    {% include '/App/Views/Components/Inputs/text.twig' with {
                        'id': 'parent_object_id',
                        'model': 'gallery',
                        'value': data.model.parent_object_id,
                        'disabled': 1
                    } %}

                    {% include '/App/Views/Components/Inputs/checkbox.twig' with {
                        'id': 'visible',
                        'model': 'gallery',
                        'value': data.model.visible,
                        'text_yes': 'Visible',
                        'text_no': 'Not visible',
                        'disabled': 1
                    } %}

                    {% include '/App/Views/Components/Inputs/checkbox.twig' with {
                        'id': 'deleted',
                        'model': 'gallery',
                        'value': data.model.deleted,
                        'text_yes': 'Deleted',
                        'text_no': 'Not deleted',
                        'disabled': 1
                    } %}

                    <a href="/galleries/edit/{{ data.model.gallery_id }}"
                       class="btn btn-md btn-block u-btn-blue rounded text-uppercase g-py-13" type="submit">
                        Edit
                    </a>
                </form>
            </div>
        </div>

        {% if params.request.gallery_id != null %}
            {% include '/App/Views/Galleries/images_galleries.twig' with {
                'attrs': params.images
            } %}
        {% endif %}

    </div>
</div>