<div class="g-pa-20">
    <div class="media">
        <div class="d-flex align-self-center">
            <h1 class="g-font-weight-300 g-font-size-28 g-color-black mb-0">Images</h1>
        </div>

        <div class="media-body align-self-center text-right">
            <a class="btn btn-md u-btn-teal g-width-160--md g-font-size-default g-ml-10" href="/images/create">
                Create
            </a>
        </div>
    </div>

    <hr class="d-flex g-brd-gray-light-v7 g-my-30">

    <table class="table w-100 g-mb-25">
        {% include '/App/Views/Components/Table/thead.twig' with {
            'columns': ['Path', 'Visible', 'Deleted'],
            'total': params.pager.total
        } %}

        <tbody class="g-font-size-default g-color-black" id="images" role="tablist" aria-multiselectable="true">
            {% for image in data.models %}
                {{ include ('/App/Views/Images/list_item.twig', {image: image, storage_path: storage_path}) }}
            {% endfor %}
        </tbody>
    </table>

    {% include '/App/Views/Components/pager.twig' with {'pager': params.pager, 'uri': params.uri} %}

</div>



